<!-- Iterate over the articles -->

<ul class="collapsible">

    <!-- Dropdown for displaying article information -->
    <li>
        <div class="collapsible-header"><i class="material-icons">restaurant_menu</i>First</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <!-- Dropdown for viewing comments -->
    <li>
        <div class="collapsible-header"><i class="material-icons">comment</i>View Comments</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

    <!-- Dropdown for adding comments -->
    <li>
        <div class="collapsible-header"><i class="material-icons">create</i>Add A Comment</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>